@import "~styles/variables";

h1 {
  margin-bottom: 2rem;
}

.contact-page {
  padding: 1rem;
}

.contact-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @media screen and (min-width: $small) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  & > * {
    margin: 1rem;
  }
}
